<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>

  <div class="field">
    <% @group_icons = [] %>
    <% @groups.each do |x| %>
    <% @group_icons << x.icon unless @group_icons.include?(x.icon) %>
    <% end %>
    <%# @group_icons.class %>
    <% @group_icons.each do |icon| %>
      <%= form.radio_button :icon, icon %>
      <%= icon.html_safe %>
      <p></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
