<%= form_with(model: group, local: true, class: 'container') do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon, 'Add New Icon *' %>
    <%= form.text_field :icon %>
  </div>

  <div class="icon-box">
    <% @group_icons.each do |icon| %>
      <div>
        <%= form.radio_button :icon, icon %>
        <%= icon.html_safe %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>
