<p id="notice"><%= notice %></p>

<div class='new-group'>
  <h1>Groups</h1>
  <a href="/groups/new"><i class="fas fa-plus-square"><span>New Group</span></i></a>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.sort_by{|x|x.name.downcase}.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to group.icon.html_safe, group %></td>
        <td><%= group.created_at.strftime("%d %b. %Y") %></td>
        <% if session[:user_id] == 1 %>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
