<p id="notice"><%= notice %></p>
  <h1>Groups</h1>

<div class="view-display">

  <% @groups.sort_by{|x|x.name.downcase}.each do |group| %>
    <div class='group-cards'>
      <%= link_to group.icon.html_safe, group %>

      <div class='card-text'>
        <h4><%= group.name %></h4>
      <p><%= group.created_at.strftime("%d %b. %Y") %></p>
      </div>
      <div>
        <p>Number of Transactions</p>
      <h5><%= group.transactions.count %></h5>
    </div>
    </div>
  <% end %>
</div>

<br>

<div class='new-group'>
  <a href="/groups/new"><i class="fas fa-plus-square"><span>New Group</span></i></a>
</div>
