<p id="notice"><%= notice %></p>


<!-- <h2><%# @group.name %> Transactions </h2> -->
<h2><%= @group.name %> Transactions </h2>
<h3>Total - <%# @total.sum %></h3>
<p class='group-show-icon'><%= @group.icon.html_safe %></p>

<table>
  <thead>
    <tr>
      <th>Author:</th>
      <th></th>
      <th>Name:</th>
      <th></th>
      <th>Amount:</th>
      <th></th>
      <th>Date:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.tracktions.each do |track| %>
      <tr>
        <%# if track.groups.first %>
        <td><%= track.author.name %></td>
        <td></td>
        <td><%= link_to track.name, tracktion_path(track.id) %></td>
        <td></td>
        <td><%= track.amount %></td>
        <td></td>
        <td><%= track.created_at.strftime("%d %b. %Y") %></td>
        <%# end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<div>
  <%= link_to 'Back', groups_path %>
</div>
