<p id="notice"><%= notice %></p>
<!-- <div class="container"> -->

<% @total = [] %>
<% @group.transactions.each{|x| @total << x.amount} %>

<h2><%= @group.name %> Transactions </h2>
<h3>Total - <%= @total.sum %></h3>
<p><%= @group.icon.html_safe %></p>
<!-- <p><%# link_to @transaction.group.icon.html_safe, @transaction.group %></p> -->

<table>
  <thead>
    <tr>
      <th>Author:</th>
      <th></th>
      <th>Name:</th>
      <th></th>
      <th>Amount:</th>
      <th></th>
      <th>Date:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.transactions.each do |transaction| %>
      <tr>
        <% if transaction.group_id == @group.id %>
        <td><%= transaction.author.name %></td>
        <td></td>
        <td><%= transaction.name %></td>
        <td></td>
        <td><%= transaction.amount %></td>
        <td></td>
        <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<div>
  <%= link_to 'Edit', edit_group_path(@group) %>   |
  <%= link_to 'Back', groups_path %>
</div>

<!-- </div> -->
