<div>

<%= form_with(model: user, local: true, class: 'form container') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="actions container">
    <%= form.label :name, "What name will these transactions be under?" %>
    <%= form.text_field :name %>
    <%= form.label :avatar, 'Choose a Profile Picture' %>
    <%= form.file_field :avatar, preview: true %>




    <%= form.submit %>
  </div>
<% end %>

</div>
<!--
<aside>
  <dark-mode-toggle
      id="dark-mode-toggle-1"
      legend="Theme Switcher"
      appearance="switch"
      dark="Dark"
      light="Light"
      remember="Remember this"
  ></dark-mode-toggle>
</aside> -->
