<p id="notice"><%= notice %></p>

<h2>
  <%= "Hello #{@user.name}!" %>
</h2>
<h3><%= "Here are your tracked transactions!" %></h3>

<% @total_assigned = [] %>
<% @total_unassigned = [] %>
<% @transactions.each{|x| x.group_id ?  @total_assigned << x.amount : @total_unassigned << x.amount } %>
<h4>Assigned Transactions - <%= @total_assigned.sum %></h4>
<%=  %>
<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% if transaction.group_id %>
        <tr>
          <td><%= link_to transaction.group.icon.html_safe, transaction.group %></td>
          <td><%= link_to transaction.name, transaction %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h4>Unassigned Transactions - <%= @total_unassigned.sum %></h4>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% unless transaction.group_id %>
        <tr>
          <td><%= link_to 'Assign', edit_transaction_path(transaction) %> </td>
          <td><%= link_to transaction.name, transaction %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- <p>Groups</p> -->
<br />
<%= link_to 'New Transaction', new_transaction_path %>
