<p id="notice"><%= notice %></p>
<div class="user-show">

  <%# image_tag @user.avatar, class: 'profile-pic' if @user.avatar.attached?%>

<br />
<%# @day_of_week = "Monday" %>
<%# select_tag :days, options_for_select([@transactions_test.name, "Tuesday"]), :id => "select_days" %>
<!-- <div id="text_to_be_changed"> -->
  <%# @something %>
<!-- </div> -->
<!-- <div class="number_to_be_changed"><%# @click %></div>
<%# link_to 'Click Here Next', '#',
        :onclick => "", id: 'clickHereNext' %> -->
<br />


<h2>
  <%= "Hello #{@user.name}" %>
</h2>
<h3><%= "Here are your tracked transactions!" %></h3>
<div class='transactions'>
<div class="assigned">
<% @total_assigned = [] %>
<% @total_unassigned = [] %>
<% @transactions.each{|x| x.group_id ?  @total_assigned << x.amount : @total_unassigned << x.amount } %>
<h4>Assigned Transactions</h4>

<% @types = []  %>
<% @transactions.each{|x| @types << x.amount_type if x.amount_type} %>
<% @type_sums = {} %>
<% @transactions.each{|x| @type_sums[x.amount_type] = 0 unless x.group_id == nil} %>
<% @transactions.each{|x| @type_sums[x.amount_type] += x.amount unless x.group_id == nil} %>
  <div>
  <% @type_sums.each do |x| %>
    <span><%= x[0] == nil ? 'Unassigned' : x[0] %> : <%= x[1] %><%= ' | ' unless x[0] == @type_sums.keys.last %>  </span>
  <% end %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <!-- <td></td> -->
      <th>Name</th>
      <!-- <td></td> -->
      <th>Amount</th>
      <!-- <td></td> -->
      <th>Type</th>
      <!-- <td></td> -->
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% if transaction.group_id %>
        <tr>
          <td><%= link_to transaction.group.icon.html_safe, transaction.group %></td>
          <!-- <td></td> -->
          <td><span><%= link_to transaction.name, transaction %></span></td>
          <!-- <td></td> -->
          <td><%= transaction.amount %></td>
          <!-- <td></td> -->
          <td><%= transaction.amount_type %></td>
          <!-- <td></td> -->
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>


<div class="unassigned">

<h4>Unassigned Transactions</h4>
<!-- <h4>Unassigned Transactions - <%# @total_unassigned.sum %></h4> -->
<% @type_sums = {} %>
<% @transactions.each{|x| @type_sums[x.amount_type] = 0 if x.group_id == nil} %>
<% @transactions.each{|x| @type_sums[x.amount_type] += x.amount if x.group_id == nil} %>
  <div>
  <% @type_sums.each do |x| %>
    <span><%= x[0] == nil ? 'Unassigned' : x[0] %>: <%= x[1] %><%= ' | ' unless x[0] == @type_sums.keys.last %> </span>
  <% end %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% unless transaction.group_id %>
        <tr>
          <td><%= link_to 'Assign', edit_transaction_path(transaction) %> </td>
          <td><%= link_to transaction.name, transaction %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.amount_type %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<!-- <p>Groups</p> -->
<br />
<%# link_to 'New Transaction', new_transaction_path %>
</div>
</div>
</div>
