<%= form_with(model: tracktion, local: true, class: 'container') do |form| %>
  <% if tracktion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracktion.errors.count, "error") %> prohibited this tracktion from being saved:</h2>

      <ul>
        <% tracktion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :author_id, :value => session[:user_id] %>
  <div class="field">
    <%= form.label :name, 'Name of Transaction:' %>
    <%= form.text_field :name %>
  </div>

    <div class="field">
    <%= form.label :amount, 'Amount of Transaction:' %>
    <%= form.text_field :amount %>
  </div>
  <div class="field amount-field">
    <%= form.label :type_id, 'Amount Type:' %>
    <%# @types.each do |x| %>
    <%# x.amount_type %>
    <%  %>
      <%# @fields[x].amount_type %>
      <%# @fields[x].tracktions.first.name if @fields[x].tracktions.first %>
      <%# User.find(:all, :include => :events, :conditions => { "events_users.event_id" => nil}) %>
      <%# @fields[x].icon.html_safe %>
    <%# end %>
    <%# @fields.size.times do |x| %>
      <%#= @fields[0].tracktions.first.groups.first.name %>
    <%# end %>
    <%# @tracktion.type.each do |track| %>
      <%# track.groups.first.name %>
      <%# track.type.amount_type %>
    <%# end %>
    <%# form.collection_select :amount_type, @types, :amount_type, :amount_type, {:selected => @tracktion.type},
     :include_blank => true  %>
    <%# #,     :include_blank => true  %>
    <%= form.collection_select :type_id, Type.all, :id, :amount_type,
     :include_blank => true %>
  <span class='add-type'>
      <a href="/types/new"><i class="fas fa-plus-square"><span>New Type</span></i></a>
  </span>
  </div>
<p>Primary Group</p>
  <div class="icon-box">

    <%# @groups.each do |group| %>
    <!-- <div> -->
      <%# form.radio_button :groups, group.id %>
      <%# group.icon.html_safe %>
      <%# group.name %>
      <!-- </div> -->
      <!-- <p>|</p> -->
    <%# end %>

    <%# @groups.select(:name) %>
    <%# @groups.each do |group| %>
     <!-- <div> -->
       <%# group.name %>
      <%# group.icon.html_safe %>
      <%# form.collection_check_boxes :groups_tracktions, Group.all, :id, :icon do |group_select| %>
      <%= form.collection_check_boxes :groups, @groups, :id, :icon do |group_select| %>
      <div>
        <% unless tracktion.groups.select{|x| x if x.id == group_select.value}.empty? %>
        <%# tracktion.groups.find(group_select.value) %>
      <%= group_select.check_box(checked: true) %>
      <% else %>
      <%= group_select.check_box %>
      <% end %>
      <%# group_select.icon.html_safe %>
      <%= group_select.text.html_safe %>
      <%# group_select.value %>
      <%# tag(:br) %>
      <%# | %>
      </div>
  <!-- </div> -->
  <% end %>
<%# end %>
  </div>

  <!-- <div class="field">
  <%# form.label "Secondary Groups" %>
  <%# form.collection_check_boxes tracktion.groups, Group.all, :id, :icon do |b| %>
  <%# unless b.value == @tracktion.groups.  %>
    <div class="collection-check-box" >
      <%# unless @tracktion.groups.select{|x| x if x.id == b.value}.empty? %>
      <%# b.check_box(checked: true) %>
      <%# else %>
      <%# b.check_box %>
      <%# end %>
      <%# b.text.html_safe %>
      <%# b.value %>
      <%# @groups.find(b.value).name %>
    </div>
    <%# end %>
    <%# end %>
  </div> -->


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
