<div class="nav-icons">
   <p><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, user_path(@user) %></p>
</div>

<h1>All Transactions</h1>
<div>
   <%= link_to 'Assigned', assigned_path %>
   <%= link_to 'Unassigned', unassigned_path %>
</div>

<div class="container sum-totals">
<%=  transactions_count %>
</div>

<div class="view-display">
   <% @tracktions.sort_by{ |x| x.created_at }.reverse.each do |track| %>
      <div class='group-cards'>
         <% if track.groups.first %>
         <p><%= link_to track.groups.first.icon.html_safe, track.groups.first %></p>
         <p><%= track.groups.first.name %></p>
         <% else %>
            <%= link_to 'Assign', edit_tracktion_path(track) %>
         <% end %>
         <div class='card-text'>
            <h4><%= link_to track.name, tracktion_path(track.id) %></h4>
            <p><%= track.created_at.strftime("%d %b. %Y") %></p>
         </div>
         <p><%= track.amount %><br>
           <%= link_to track.type.amount_type, type_path(track.type.id) %></p>
           <%= track.author.name %>
      </div>
   <% end %>
</div>

<div class='new-transaction'>
   <a href="/tracktions/new"><i class="fas fa-plus-square">
      <span>New Transaction</span></i></a>
</div>
