<div class="">
<%= link_to 'All', tracktions_path %>
<%= link_to 'Assigned', assigned_path %>
<%= link_to 'Unassigned', unassigned_path %>
</div>
<div class="container sum-totals">
   <%=  transactions_count %>
</div>
<div>

     <h1>All Transactions</h1>
<div class="view-display">
   <%# @tracktions.sort_by{ |x| x.created_at }.each do |trans| %>

 <% @tracktions.sort_by{ |x| x.created_at }.reverse.each do |track| %>
 <div class='group-cards'>
 <% if track.groups.first %>
   <%= link_to track.groups.first.icon.html_safe, track.groups.first %>
<% else %>
<%= link_to 'Assign', edit_tracktion_path(track) %>
<% end %>
   <div class='card-text'>
     <h4><%= link_to track.name, tracktion_path(track.id) %></h4>
   <p>   <%= track.created_at.strftime("%d %b. %Y") %></p>
   </div>
   <p><%= track.amount %><br>
     <%= link_to track.type.amount_type, type_path(track.type.amount_type) %></p>
     <%= track.author.name %>
 </div>
<% end %>

 </div>
</div>

   <div class='new-transaction'>
     <a href="/tracktions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
   </div>



   <%# @day_of_week = "assigned_transactions" %>
   <%# select_tag :days, options_for_select(["assigned_transactions", "unassigned_transactions"]), :id => "select_days" %>
   <%# select_tag :days, options_for_select([@transactions_test.name, "Tuesday"]), :id => "select_days" %>
   <!-- <div id="text_to_be_changed" href='test'> -->

     <%# render @day_of_week %>
     <%# @day_of_week %>
     <!-- </div> -->
