<p id="notice"><%= notice %></p>
<h2><%= @tracktion.name %></h2>
<%= icon?(@tracktion) %>

<table>
  <thead>
    <tr>
      <th>Group:</th>
      <th>Amount:</th>
      <th>Type:</th>
      <th>Date:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= group?(@tracktion) %>
        <td><%= @tracktion.amount %></td>
        <!-- <td><%# @tracktion.type.amount_type %></td> -->
        <td><%= link_to @tracktion.type.amount_type, type_path(@tracktion.type.id) %></td>
        <td><%= @tracktion.created_at.strftime("%d %b. %Y") %></td>
      </tr>
  </tbody>
</table>
<h4>Additional Groups</h4>
<div style='display:flex'>
<% @tracktion.groups.each do |group|%>
<div class='container'>
<%= group.name %>
<%= link_to group.icon.html_safe, group_path(group.id) %>
</div>
<% end %>
</div>

<div>
  <%= link_to 'Edit', edit_tracktion_path(@tracktion) %> |  <%= link_to 'Destroy', @tracktion, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= back(@tracktion) %>
</div>
