<div class="nav-icons">
  <p><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, tracktions_path %></p>
</div>

<h1>Unassigned</h1>
<div class="">
  <%= link_to 'All', tracktions_path %>
  <%= link_to 'Assigned', assigned_path %>
</div>

<div class="container sum-totals">
  <%= transactions_count(@tracktions) %>
</div>

<div class="view-display">
  <% @tracktions.sort_by{ |x| x.created_at }.reverse.each do |track| %>
    <div class='group-cards'>
      <%= link_to 'Assign', edit_tracktion_path(track) %>
      <div class='card-text'>
        <h4><%= link_to track.name, tracktion_path(track.id) %></h4>
        <p><%= track.created_at.strftime("%d %b. %Y") %></p>
      </div>
      <p><%= track.amount %><br>
        <%= link_to track.type.amount_type, type_path(track.type.id) %></p>
      <%= track.author.name %>
    </div>
  <% end %>
</div>

<div class='new-transaction'>
  <a href="/tracktions/new">
    <i class="fas fa-plus-square">
      <span>New Transaction</span>
    </i>
  </a>
</div>
