<div class="nav-icons">
  <p><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, tracktions_path %></p>
</div>

<h1>Unassigned</h1>
<div class="">
  <%= link_to 'All', tracktions_path %>
  <%= link_to 'Assigned', assigned_path %>
</div>

<div class="container sum-totals">
  <%= transactions_count(@tracktions) %>
</div>

<div class="view-display">
  <%= render 'transaction_cards' %>
</div>

<div class='new-transaction'>
  <a href="/tracktions/new">
    <i class="fas fa-plus-square">
      <span>New Transaction</span>
    </i>
  </a>
</div>
