<div class="">
<%= link_to 'All', tracktions_path %>
<%= link_to 'Assigned', assigned_path %>
</div>
<div class="">
  <%= transactions_count %>
</div>
<div class="">

  <h1>Unassigned</h1>
  <div class="view-display">

  <% @tracktions.sort_by{ |x| x.created_at }.reverse.each do |tracks| %>
  <% unless tracks.groups.first %>
  <div class='group-cards'>
<%= link_to 'Assign', edit_tracktion_path(tracks) %>
    <div class='card-text'>
       <h4><%= link_to tracks.name, tracktion_path(tracks.id) %></h4>
    <p><%= tracks.created_at.strftime("%d %b. %Y") %></p>
    </div>
    <p><%= tracks.amount %><br>
      <%= tracks.type.amount_type %></p>
  </div>
<% end %>
<% end %>
</div>
</div>
<div class='new-transaction'>
  <a href="/transactions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
</div>
