<%= form_with(model: transaction, local: true, class: 'container') do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, :value => session[:user_id] %>
  <div class="field">
    <%= form.label :name, 'Name of Transaction:' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount, 'Amount of Transaction:' %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :amount_type, 'Amount Type:' %>
    <%= form.text_field :amount_type %>
  </div>

  <div class="icon-box">
    <% @groups.each do |group| %>
    <div>
      <%= form.radio_button :group_id, group.id %>
      <%= group.icon.html_safe %>
      <%= group.name %>
      </div>
      <p>|</p>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
