<%= form_with(model: transaction, local: true, class: 'container') do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :authorid, :value => session[:user_id] %>
  <div class="field">
    <%= form.label :name, 'Name of Transaction:' %>
    <%= form.text_field :name %>
  </div>

  <!-- <div class="field row-container"> -->
    <div class="field">
    <%= form.label :amount, 'Amount of Transaction:' %>
    <%= form.text_field :amount %>
  </div>
<!-- </div>
<div> -->
  <div class="field amount-field">
    <%= form.label :amount_type, 'Amount Type:' %>
    <%= form.collection_select :amount_type, @types, :amount_type, :amount_type,
     :include_blank => true %>
  <span class='add-type'>
      <a href="/new_type"><i class="fas fa-plus-square"><span>New Type</span></i></a>
    <!-- <i class="fas fa-plus-square"><%# link_to 'New Type', types_path %></i> -->
  </span>
  </div>
<!-- </div> -->
<p>Groups</p>
  <div class="icon-box">
    <% @groups.each do |group| %>
    <div>
      <%= form.radio_button :group_id, group.id %>
      <%= group.icon.html_safe %>
      <%= group.name %>
      </div>
      <p>|</p>
    <% end %>

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
