<%= get_unassigned_transactions %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% unless transaction.group_id %>
        <tr>
          <td><%= link_to 'Assign', edit_transaction_path(transaction) %> </td>
          <td><%= link_to transaction.name, transaction %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.amount_type %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
