<%= link_to 'Unassigned', unassigned_path %>
  <h1>Assigned</h1>

    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |trans| %>
    <div class='group-cards'>
      <%= link_to trans.group.icon.html_safe, trans.group %>

      <div class='card-text'>
        <h4><%= trans.name %></h4>
      <p><%= trans.created_at.strftime("%d %b. %Y") %></p>
      </div>
      <p><%= trans.amount %><br>
        <%= trans.amount_type %></p>
    </div>
  <% end %>

<table>
  <p>Transaction Totals by Type</p>
  <%= assigned_transactions_count %>
  <thead>
    <tr>
      <th>Group</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Created</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |transaction| %>
    <% if transaction.group_id %>
        <tr>
          <td><%= link_to transaction.group.icon.html_safe, transaction.group %><br /><%= transaction.group.name %></td>
          <td><span><%= link_to transaction.name, transaction %></span></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.amount_type %></td>
          <td><%= transaction.created_at.strftime("%d %b. %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class='new-transaction'>
  <a href="/transactions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
</div>
