<div class="">
<%= link_to 'All', transactions_path %>
<%= link_to 'Assigned', assigned_path %>
<%= link_to 'Unassigned', unassigned_path %>
</div>
<div class="container">
   <%=  transactions_count %>
</div>
<div class='transactions'>

     <h1>All</h1>

 <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |trans| %>
 <div class='group-cards'>
 <% if trans.group_id %>
   <%= link_to trans.group.icon.html_safe, trans.group %>
<% else %>
<%= link_to 'Assign', edit_transaction_path(trans) %>
<% end %>
   <div class='card-text'>
     <h4><%= trans.name %></h4>
   <p><%= trans.created_at.strftime("%d %b. %Y") %></p>
   </div>
   <p><%= trans.amount %><br>
     <%= link_to trans.amount_type, show_type_path(trans.amount_type) %></p>
 </div>
<% end %>

 </div>

   <div class='new-transaction'>
     <a href="/transactions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
   </div>



   <%# @day_of_week = "assigned_transactions" %>
   <%# select_tag :days, options_for_select(["assigned_transactions", "unassigned_transactions"]), :id => "select_days" %>
   <%# select_tag :days, options_for_select([@transactions_test.name, "Tuesday"]), :id => "select_days" %>
   <!-- <div id="text_to_be_changed" href='test'> -->

     <%# render @day_of_week %>
     <%# @day_of_week %>
     <!-- </div> -->
