<p id="notice"><%= notice %></p>
<div>

<p>
  <strong>User:</strong>
  <%= @transaction.author.name %>
</p>

<p>
  <strong>Transaction Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Icon:</strong>
  <% if @transaction.group %>
    <%= @transaction.group.icon.html_safe %>
  <% end %>
</p>
<p>
  <strong>Date:</strong>
  <%= @transaction.created_at %>
</p>
</div>
<div>
  <%= link_to 'Edit', edit_transaction_path(@transaction) %> |  <%= link_to 'Destroy', @transaction, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', user_path(session[:user_id]) %>
</div>
