<div class="">
<%= link_to 'All', transactions_path %>
<%= link_to 'Assigned', assigned_path %>
</div>
<div class="">
  <%= transactions_count %>
</div>
<div class="">

  <h1>Unassigned</h1>
  <% @transactions.sort_by{ |x| x.created_at }.reverse.each do |trans| %>
  <div class='group-cards'>
<%= link_to 'Assign', edit_transaction_path(trans) %>
    <div class='card-text'>
      <h4><%= trans.name %></h4>
    <p><%= trans.created_at.strftime("%d %b. %Y") %></p>
    </div>
    <p><%= trans.amount %><br>
      <%= trans.amount_type %></p>
  </div>

<% end %>
</div>
<div class='new-transaction'>
  <a href="/transactions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
</div>
