<!DOCTYPE html>
<html>
  <head>
    <title>TrackerKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>

  <body class='container'>
    <% if session[:user_id] %>
    <div class="sticky-header">
      <!-- <p id="notice"><%= notice %></p> -->

      <div class="user_buttons">
        <div>
        <%= link_to 'Home', user_path(session[:user_id]) %>
        | <%= link_to 'Groups', groups_path %> | <%= link_to 'New Transaction', new_transaction_path %>
        </div>
        <div>
          <%= link_to 'Account Settings', edit_user_path(session[:user_id]) %>
          | <%= link_to 'Log Out', logout_path %>
        </div>
      </div>
  </div>
    <!-- <hr /> -->
    <% end %>
    <%= yield %>
  </body>
</html>
