<!DOCTYPE html>
<html>
  <head>
    <title>TrackerKeeper</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- <link rel="stylesheet" href="schemes/light.css" media="(prefers-color-scheme: light)">
      <link rel="stylesheet" href="../../app/assets/stylesheets/schemes/dark.css" media="(prefers-color-scheme: dark)" />
      <script type="module" src="https://googlechromelabs.github.io/dark-mode-toggle/src/dark-mode-toggle.mjs"></script> -->
  </head>

  <body class='container'>

    <% if session[:user_id] %>
      <div class="sticky-header">



        <div class="mobile-header">


          <!-- <div class="user_buttons"> -->
           <i class="fas fa-bars burger-menu">

            <!-- <div class='burger-links hidden'> -->
            <div class='burger-links hidden'>

              <%= profile_pic(@user) %>
              <br>
              <br>
              <%= link_to 'Home', user_path(session[:user_id]) %>
              <br>
              <br>
              <%= link_to 'Groups', groups_path %>
              <br>
              <br>
              <%= link_to 'Transactions', transactions_path %>
              <br>
              <br>
              <%= link_to 'Settings', edit_user_path(session[:user_id]) %>
              <br>
              <br>
              <%= link_to 'Log Out', logout_path %>
            </div>

           </i>


           <span class='account-menu' tabindex='0'>
               <%# profile_pic(@user) %>

            <div class='account-links ac-hidden'>
              <%= link_to 'Account Settings', edit_user_path(session[:user_id]) %>
              <br />
              <%= link_to 'Log Out', logout_path %>
            </div>

           </span>
         <!-- </div> -->


        </div>




        <div class="desktop-header">


          <div class='desktop-menu'>
            <%= profile_pic(@user) %>

            <%= link_to 'Home', user_path(session[:user_id]) %>

            <%= link_to 'Groups', groups_path %>

              <%= link_to 'Transactions', transactions_path %>
          </div>
          <div>
            <%= link_to 'Account Settings', edit_user_path(session[:user_id]) %>

            <%= link_to 'Log Out', logout_path %>
          </div>


        </div>


    </div>
    <% end %>


    <%= yield %>
  </body>
</html>
