<!DOCTYPE html>
<html>
  <head>
    <title>TrackerKeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  </head>

  <body class='container'>
    <% if session[:user_id] %>
    <div class="user_buttons">
      <div>
      <%= link_to 'Home', user_path(session[:user_id]) %>
      | <%= link_to 'Groups', groups_path %>
      </div>
      <div>
        <%= link_to 'Account Settings', edit_user_path(session[:user_id]) %>
        | <%= link_to 'Log Out', logout_path %>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
